<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
    <caption>List of Users</caption>
    <thead>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Lastname</th>
        <th>User Age</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <a href="/edit/${user.getId()}">edit</a>
            <a href="/delete/${user.getId()}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>